@import "tailwindcss";
@layer base, theme, components, utilities;

@theme {
	--color-dark: #111111;
}

@layer base {
	h1 {
		@apply text-4xl font-bold py-6;
	}
	h2 {
		@apply text-3xl font-semibold py-5;
	}
	h3 {
		@apply text-2xl font-medium py-4;
	}
	h4 {
		@apply text-xl font-medium py-3;
	}

	h5 {
		@apply text-lg py-2;
	}

	h6 {
		@apply py-1;
	}

	p {
		@apply text-base leading-relaxed;
	}

	a {
		@apply text-blue-600 hover:underline;
	}

	ol li {
		list-style: decimal;
	}

	ul li {
		list-style: disc;
	}
}
